/* Base styles
---------------------------------------------------------------------*/
html { overflow: hidden;}

/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

/* I ADDED THESE */

#middle-input-text {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.no-round {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


/* SOME FUCK ADDED THESE */

.container-fluid {
  min-height: 100%;
  width: 100%;
  position: absolute;
  /*zoom: 1;*/
  padding: 0;
  font-size: 12px;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
  /*zoom: 1;*/
}
.container-fluid:after {
  clear: both;
}
.container-fluid > .sidebar {
  position: fixed;
  top: 0;
  width: 15%;
  min-height:100%;
  border-right: 2px solid #DDD;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.container-fluid > .content {
    min-height: 100%;
    width: 85%;
    margin-left: 15%;
    position: absolute;
    background: whiteSmoke;
}

/* Shared classes
---------------------------------------------------------------------*/

.bar {
  position: absolute;
  left: 0;
  right: 0;
}

#left-box {
  margin-top: 10px;
}

#left-box p {
  color: gray;
  font-weight: normal;
}

#left-box .selected p {
  color: white;
}

#left-box .selected {
  background: #3f9ad4;
/*  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;*/
}

#left-box .left-box-element {
  padding: 5px;
  font-weight: bold;
  border-top: 1px solid lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 5px solid #8A9B0F;

}


#left-box .left-box-activity {
  border-left: 5px solid #FA6900;
}

#left-box .left-box-element .close-button {
  display: block;
  color: white;
  text-shadow: 0 1px 0 black;
  font: bold 20px Arial;
  line-height: 19px;
  float: right;
  opacity: 0.3;
  width: 24px;
  text-align: center;
  cursor: pointer;
  margin-left: 5px;
  visibility: hidden;
}

#left-box .left-box-element:hover .close-button {
  visibility: visible;
}

#left-box .left-box-element .close-button:hover {
  opacity: 0.8;
}

#chat-window  {
  min-height: 100%;
  height: 100%;
  width: 85%;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* for Mozilla */
  -webkit-box-sizing: border-box; /* for WebKit */
  -ms-box-sizing: border-box; /* for IE8 */
}

.titlebar{
  padding-top: 0.5em;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.window_title{
  font-weight:bold;
  margin-right: 2%;
  white-space:nowrap;
}

.titlebar #topic{
  color: #CCCCCC;
  white-space: nowrap;
}

#chat-contents {
  /*height: 85%;*/
  top: 34px;
  bottom: 57px;
  overflow-y: auto;
  overflow-x: hidden;
  /*background: whiteSmoke;*/
  background: white;
  border-right: 1px solid #DDDDDD
}

#input-container {
  height: 55px;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #DDD;
  background: whiteSmoke;
  border-right: 1px solid #DDDDDD;
}

#input-container .input{
  padding-top: 10px;
}

#input-container .input input{
  width: 83%;
  margin-right: 2%;
  float: left;
  margin-left: 2%;
}

#input-container .input a{
  font-size: 1.3em;
}

.chat-avatar {
  margin-right: 10px;
  height: 40px;
  float: left
}

.spacing-right {
  margin-right: 5px;
}

.message-box {
  padding: 5px 5px 0px 5px;
  border-bottom: 1px solid #DDDDDD;
  display: table;
  width: 100%;
}

.message-box-action {
  padding-left: 60px;
  color: gray;
  background: whiteSmoke;
  border-bottom: none;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
/*  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;*/
}

.message-box p {
  margin-bottom: 5px;
/*  width: 17%;
  word-wrap: break-word;*/
}

.message-box .embed {
  max-width: 99%;
  max-height: 40%;
}

.chat-name {
  display: table-cell;
  width: 14%;
  vertical-align: top;
  padding: 1% 0% 1% 1%;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-message {
  display: table-cell;
  width: 66%;
  max-width: 200px;
  padding: 1%;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.chat-message span{
  word-wrap: break-word;
}

.chat-message.motd {
  white-space: pre;
}

div.embed-toggle {
    display: inline;
    margin-left: 5px;
}

.chat-message .embed img{
  display: block;
  max-width: 100%;
  max-height: 200px;
  padding: 10px;
}

.mention{
  color: #0B2666;
  font-weight: bold;
}

.chat_action {
  display: table-cell;
  width: 80%;
  padding: 1% 0% 1% 2%;
  border-right: 1px solid #DDDDDD;
}

.chat-time {
  display: table-cell;
  vertical-align: top;
  color: #888888;
  text-align: center;
  padding: 1% 0% 1% 0%;
  width: 20%;
}

#user-window {
  height: 100%;
  width: 15%;
  position: absolute;
  margin-left: 85%;
  background: #E7E9ED;
}

#user-list {
  position: absolute;
  top: 34px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.user-list-item {
  margin-bottom: 10px;
  font-size: 20px;
}

.body-error {
  opacity: 0.1;
  filter: alpha(opacity=70);
/*  background: darkgray;*/
}

.overlay{
  background: transparent url(images/overlay.png) repeat top left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.overlay-box{
  height: 256px;
  width: 256;
  position:absolute;
  top:50%;
  left:50%;
  z-index:101;
}

.highlight {
  background-color: #fcf8e3;
}

.user-active {
  box-shadow: 0px 0px 10px #3c763d;
}

.user-afk {
  box-shadow: 0px 0px 10px #8a6d3b;
}

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 2em;
  height: 2em;
  background-size: 2em;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

img.emoji {
  width: 1em;
  height: 1em;
}
